<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar <%= artista.nome %></title>
    <link rel="stylesheet" href="/css/artistasEdit.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/logo-favico.png" type="image/x-icon">
</head>
<body>
    <div class="edit-artista-container">
        <div class="artista-dados">
            <h2>Editando Dados do Artista</h2>
            <form id="artista-dados-form" method="POST" action="/artistas/<%= artista.id %>/edit/dados">
                <input type="hidden" name="_method" value="PUT">
    
                <div class="form-group">
                    <label for="nome">Nome do Artista:</label>
                    <input type="text" id="nome" name="nome" value="<%= artista.nome %>" required>
                </div>
    
                <div class="form-group">
                    <label for="nacionalidade">Nacionalidade:</label>
                    <input type="text" id="nacionalidade" name="nacionalidade" value="<%= artista.nacionalidade %>" required>
                </div>
    
                <button type="submit" class="submit-button">Salvar Alterações</button>
            </form>
        </div>
    
        <div class="artista-foto">
            <h2>Atualizar Foto do Artista</h2>
            <img src="/<%= artista.foto %>" alt="Foto do Artista">
            <form action="/artistas/<%= artista.id %>/edit/foto" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="_method" value="PUT">
                <label for="foto">Escolher nova foto:</label>
                <input type="file" id="foto" name="foto" accept="image/*" required>
                <button type="submit" class="confirm-edit-button">Trocar Foto</button>
            </form>
        </div>
    </div>  

    <footer>
        <div class="footer-container">
            <div class="logo-footer">
                <a href="/"><img src="/images/logo.png" alt="Pizzaia Logo"></a>
            </div>
            <nav>
                <a href="/artistas"><i class="fa-solid fa-user"></i> Artistas</a>
                <a href="/discos"><i class="fas fa-record-vinyl"></i> Discos</a>
                <a href="/faixas"><i class="fas fa-music"></i> Faixas</a>
                <a href="/generos"><i class="fas fa-tags"></i> Gêneros</a>
            </nav>
        </div>
    </footer>
</body>
</html>